Repository cartesi/rollups, pull requests merged in 2023-06, with the labels that each got.

#62 feat(rollups-events): connect to Redis via TLS
  offchain/Cargo.lock
  offchain/Dockerfile
  offchain/README.md
  offchain/rollups-events/Cargo.toml
Labels: feature, offchain

#101 fix(dispatcher): not finish empty epoch
  offchain/dispatcher/src/drivers/context.rs
  offchain/dispatcher/src/drivers/machine.rs
  offchain/dispatcher/src/drivers/mock.rs
Labels: bug, offchain

#103 chore(contracts): prepack
  onchain/rollups/abi/contracts/consensus/authority/Authority.sol/Authority.json
  onchain/rollups/abi/contracts/dapp/CartesiDApp.sol/CartesiDApp.json
  onchain/rollups/abi/contracts/history/History.sol/History.json
  onchain/rollups/abi/contracts/inputs/InputBox.sol/InputBox.json
  onchain/rollups/abi/contracts/library/LibInput.sol/LibInput.json
  onchain/rollups/abi/contracts/library/LibOutputValidation.sol/LibOutputValidation.json
  onchain/rollups/abi/contracts/portals/EtherPortal.sol/EtherPortal.json
  onchain/rollups/export/artifacts/contracts/common/CanonicalMachine.sol/CanonicalMachine.json
  onchain/rollups/export/artifacts/contracts/common/InputEncoding.sol/InputEncoding.json
  onchain/rollups/export/artifacts/contracts/consensus/authority/Authority.sol/Authority.json
  onchain/rollups/export/artifacts/contracts/dapp/CartesiDApp.sol/CartesiDApp.json
  onchain/rollups/export/artifacts/contracts/dapp/CartesiDAppFactory.sol/CartesiDAppFactory.json
  onchain/rollups/export/artifacts/contracts/dapp/ICartesiDApp.sol/ICartesiDApp.json
  onchain/rollups/export/artifacts/contracts/history/History.sol/History.json
  onchain/rollups/export/artifacts/contracts/inputs/IInputBox.sol/IInputBox.json
  onchain/rollups/export/artifacts/contracts/inputs/InputBox.sol/InputBox.json
  onchain/rollups/export/artifacts/contracts/library/LibInput.sol/LibInput.json
  onchain/rollups/export/artifacts/contracts/library/LibOutputValidation.sol/LibOutputValidation.json
  onchain/rollups/export/artifacts/contracts/portals/ERC1155BatchPortal.sol/ERC1155BatchPortal.json
  onchain/rollups/export/artifacts/contracts/portals/ERC1155SinglePortal.sol/ERC1155SinglePortal.json
  onchain/rollups/export/artifacts/contracts/portals/ERC20Portal.sol/ERC20Portal.json
  onchain/rollups/export/artifacts/contracts/portals/ERC721Portal.sol/ERC721Portal.json
  onchain/rollups/export/artifacts/contracts/portals/EtherPortal.sol/EtherPortal.json
  onchain/rollups/export/artifacts/contracts/portals/IERC1155BatchPortal.sol/IERC1155BatchPortal.json
  onchain/rollups/export/artifacts/contracts/portals/IERC1155SinglePortal.sol/IERC1155SinglePortal.json
  onchain/rollups/export/artifacts/contracts/portals/IEtherPortal.sol/IEtherPortal.json
  onchain/rollups/export/artifacts/contracts/portals/Portal.sol/Portal.json
  onchain/rollups/export/artifacts/contracts/relays/DAppAddressRelay.sol/DAppAddressRelay.json
  onchain/rollups/export/artifacts/contracts/relays/Relay.sol/Relay.json
Labels: chore, onchain
